.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #fafafa;
}

#liked {
  color: red;
}

#switch_active {
  color: black;
}

#follow {
  color: #0095f6;
  font-weight: 700; 
  font-size: 11px;
}

#followed {
  color: #dadada;
  font-weight: 700; 
  font-size: 11px;
}

#follow_button {
  background: #0095f6;
  color: #fff;
}

#followed_button {
  background: #b4b4b4;
  color: #dadada;
}

:root {
  --swiper-theme-color: #888888 !important;
  --swiper-navigation-size: 25px !important;
}